body{
    background-color: rgb(195, 194, 194);
    text-align: center;
}

.container{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

h1{
    text-align: center;
    color: blue;
    font-size: x-large;
}

label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color:#555;
}
input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

input[type='radio']{
    display: inline;
    width: 10%;
}

select{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea{
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}
.btn1{
    background-color: rgb(192, 192, 194);
    color: rgb(248, 244, 244);
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}

button:hover{
    background-color: darkblue;
}

.error{
    color:red;
    font-size: 12px;
}